<?xml version="1.0"?>
<!--
/**
 * TheArchitect_ProductColorDetection
 *
 * @category TheArchitect
 * @package TheArchitect_ProductColorDetection
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="TheArchitect_ProductColorDetection">
        <sequence>
            <module name="Magento_ConfigurableProduct"/>
            <module name="Magento_ProductVideo"/>
        </sequence>
    </module>
</config>