<?xml version="1.0"?>
<!--
/**
 * AI_ProductColorDetection
 *
 * @category AI
 * @package AI_ProductColorDetection
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference
     for="AI\ProductColorDetection\Api\DetectColorInterface"
     type="AI\ProductColorDetection\Model\DetectColor"
    />
</config>