<?xml version="1.0" ?>
<!--
/**
 * AI_ProductColorDetection
 *
 * @category AI
 * @package AI_ProductColorDetection
 */
 -->
 <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <router id="admin">
        <route frontName="objectcolor" id="objectcolor">
            <module name="AI_ProductColorDetection"/>
        </route>
    </router>
</config>