.DetectButton, .DetectButton-AddOptionButton {
    margin-inline-start: 1.2rem;
    height: 33px;
}

.DetectButton-ColorValue {
    width: 2rem;
}

#DetectButton-ColorName, #DetectButton-ClosestColor {
    text-transform: capitalize;
}

.DetectButton-TopColors {
    padding-block-start: 1.2rem;
}

.DetectButton-ColorWrapper {
    display: flex;

    .admin__field-label {
        margin-inline: 1.2rem;
        height: 33px;

        span {
            white-space: nowrap !important;
        }
    }

    .admin__control-text {
        height: 33px;
    }
}

.DetectButton-Wrapper {
    display: flex;
    flex-wrap: wrap;
}

.DetectButton-SuccessMessage, .DetectButton-BulkSuccessMessage, .DetectButton-ErrorMessage {
    display: none;
}

.DetectButton-SuccessMessage, .DetectButton-BulkSuccessMessage {
    margin-block-end: 2rem;
}
