.DetectButton {
    margin-inline-start: 1.2rem;
}

.DetectButton-ColorValue {
    width: 2rem;
}

.DetectButton-Wrapper {
    display: flex;
    flex-wrap: wrap;
}

.admin__field-label {
    margin-inline-start: 1.2rem;
}
